
@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default;
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #CAEB66;
  --color-secondary: #03373D;
}

*{
  font-family: "Urbanist", sans-serif;
 
}


html, body {
  background-color: #f3f4f6 !important;
}